name: Deploy to Staging (Orchestrator)

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-image:
    name: Build Docker Image
    uses: ./.github/workflows/build-image.yml
    secrets: inherit
    with:
      environment: staging

  deploy-to-staging:
    name: Deploy to Kubernetes
    needs: [build-image]
    uses: ./.github/workflows/deploy-staging.yml
    secrets: inherit

